Repository fullstacktf/fitness-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @DanielRamosAcosta, @yodralopez, @manolors

- #45 development - Model updates - Development on other models and services needed for #45
  backend/src/controller/assignedRoutineController.go
  backend/src/controller/routineSpecificExerciseController.go
  backend/src/model/assignedRoutineModel.go
  backend/src/model/baseExerciseModel.go
  backend/src/model/baseRoutineModel.go
  backend/src/routes/routes.go
  backend/src/service/assignedRoutineService.go
  backend/src/service/baseRoutineService.go
  backend/src/service/routineSpecificExercisesService.go
  backend/src/service/serviceUtils.go
Owners: @manolors

#45 fix
  backend/src/controller/routineSpecificExerciseController.go
  backend/src/routes/routes.go
Owners: @manolors

Updated ER diagram
  docs/ER/ER.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

- Development on user stats - Development on Weight history - Password generation and email sending
  backend/src/constants/constants.go
  backend/src/controller/userStatController.go
  backend/src/controller/userWeightHistoryController.go
  backend/src/model/userPassModel.go
  backend/src/model/userStatModel.go
  backend/src/model/userWeightHistoryModel.go
  backend/src/model/utilsModel.go
  backend/src/routes/routes.go
  backend/src/service/serviceUtils.go
  backend/src/service/userService.go
  backend/src/service/userStatService.go
  backend/src/service/userWeightHistoryService.go
Owners: @manolors

Removal of old model functions
  backend/src/model/userPassModel.go
  backend/src/model/userStatModel.go
Owners: @manolors

Fix
  backend/src/controller/userPassController.go
Owners: @manolors

Reset password functionality and fixes
  backend/src/constants/constants.go
  backend/src/controller/userPassController.go
  backend/src/routes/routes.go
  backend/src/service/serviceUtils.go
  backend/src/service/userPassService.go
  backend/src/service/userService.go
Owners: @manolors

- Some filters removed - Added API doc - Refactored a service method
  README.md
  backend/src/controller/exerciseCategoryController.go
  backend/src/controller/muscleController.go
  backend/src/controller/routineCategoryController.go
  backend/src/controller/routineSpecificExerciseController.go
  backend/src/routes/routes.go
  backend/src/service/exerciseCategoryService.go
  backend/src/service/muscleService.go
  backend/src/service/roleService.go
  backend/src/service/routineCategoryService.go
  backend/src/service/routineSpecificExercisesService.go
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @manolors

Removed unnecesasary comments
  backend/src/service/serviceUtils.go
Owners: @manolors

Removed JSON formatting in docs
  README.md
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

API documentation fix
  README.md
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

#51 dev and minor fix in weight history service
  README.md
  backend/src/controller/historyController.go
  backend/src/model/historyModel.go
  backend/src/routes/routes.go
  backend/src/service/historyService.go
  backend/src/service/userWeightHistoryService.go
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @manolors

login and permissions system
  backend/src/go.mod
  backend/src/go.sum
  backend/src/routes/permissions.go
  backend/src/routes/routes.go
  backend/src/service/sessionService.go
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @manolors

- Login and register - Permissions and roles improvements needed for login and register
  backend/src/.env
  backend/src/constants/constants.go
  backend/src/constants/permissions.go
  backend/src/controller/assignedRoutineController.go
  backend/src/controller/historyController.go
  backend/src/controller/userController.go
  backend/src/model/routineSpecificExerciseModel.go
  backend/src/routes/permissions.go
  backend/src/routes/routes.go
  backend/src/service/permissionService.go
  backend/src/service/roleService.go
  backend/src/service/serviceUtils.go
  backend/src/service/sessionService.go
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @manolors

CORS fix added
  backend/src/go.mod
  backend/src/go.sum
  backend/src/routes/routes.go
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @manolors

AllowOrigins edited
  backend/src/routes/routes.go
Owners: @manolors

added session call
  backend/src/routes/routes.go
Owners: @manolors

Cookie domain added
  backend/src/.env
  backend/src/constants/constants.go
  backend/src/routes/routes.go
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @manolors

AllowOrigin domain fixed
  backend/src/routes/routes.go
Owners: @manolors

API changes
  backend/src/routes/routes.go
Owners: @manolors

Populate various tables with default table
  backend/src/main.go
  backend/src/model/userModel.go
  backend/src/service/baseExerciseService.go
  backend/src/service/baseRoutineService.go
  backend/src/service/exerciseCategoryService.go
  backend/src/service/muscleService.go
  backend/src/service/permissionService.go
  backend/src/service/routineCategoryService.go
  backend/src/service/userService.go
Owners: @manolors

delete unnecesary print
  backend/src/main.go
Owners: @manolors

fix getAssignedRoutinesByUserID
  backend/src/controller/assignedRoutineController.go
  backend/src/routes/routes.go
Owners: @manolors

More auto populated data
  backend/src/main.go
  backend/src/model/assignedRoutineModel.go
  backend/src/routes/routes.go
  backend/src/service/assignedRoutineService.go
  backend/src/service/userWeightHistoryService.go
Owners: @manolors

Removed unnecesary print
  backend/src/service/assignedRoutineService.go
Owners: @manolors

Security fixes
  backend/src/controller/userController.go
  backend/src/controller/userWeightHistoryController.go
  backend/src/model/userModel.go
  backend/src/routes/routes.go
Owners: @manolors

Fix populate example data
  backend/src/service/userService.go
Owners: @manolors

Linter fixes
  backend/src/service/permissionService.go
  backend/src/service/roleService.go
Owners: @manolors

Added biography in user model
  backend/src/model/userModel.go
  backend/src/service/userService.go
Owners: @manolors

Route changes
  backend/src/routes/routes.go
Owners: @manolors

added base exercise to specific exercises filter call
  backend/src/routes/routes.go
  backend/src/service/routineSpecificExercisesService.go
Owners: @manolors

Routes fix
  backend/src/routes/routes.go
Owners: @manolors

Permissions fix
  backend/src/routes/routes.go
Owners: @manolors

Added category to base exercises filter call
  backend/src/service/baseExerciseService.go
Owners: @manolors

Added associations to base exercise calls
  backend/src/model/baseExerciseModel.go
  backend/src/model/baseRoutineModel.go
  backend/src/service/baseExerciseService.go
Owners: @manolors

Added 2nd depth associations to base routines
  backend/src/model/baseRoutineModel.go
Owners: @manolors

Muscles and Base Exercises populated
  backend/src/model/baseExerciseModel.go
  backend/src/service/baseExerciseService.go
  backend/src/service/muscleService.go
Owners: @manolors

BaseRoutine populated
  backend/src/model/baseRoutineModel.go
  backend/src/service/baseRoutineService.go
Owners: @manolors

Routines populated
  backend/src/service/assignedRoutineService.go
  backend/src/service/exerciseCategoryService.go
  backend/src/service/routineCategoryService.go
Owners: @manolors

Fix assign routine method
  backend/src/model/assignedRoutineModel.go
  backend/src/service/assignedRoutineService.go
Owners: @manolors

.github/CODEOWNERS:

* @kdcr @neikox @pa-perz @raulrodrigueztorres
*.ts @raulanatol
*.js @raulanatol
*test* @raulanatol @DanielRamosAcosta @yodralopez
*.go @manolors
