Repository fullstacktf/fitness-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol, @DanielRamosAcosta, @yodralopez, @manolors

Docker and Docker-Compose files added
  backend/Dockerfile
  backend/package.json
  backend/src/server.js
  docker-compose.yml
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @raulanatol

Copy method changed in Dockerfile and added .dockerignore
  backend/.dockerignore
  backend/Dockerfile
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

.editorconfig file added and fixed end of line error
  .editorconfig
  backend/.dockerignore
  backend/Dockerfile
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

added ER model
  docs/ER/ER.dia
  docs/ER/ER.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Fixed some typing mistakes and added some extra fields.
  docs/ER/ER.dia
  docs/ER/ER.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Revert "Fixed some typing mistakes and added some extra fields."
  docs/ER/ER.dia
  docs/ER/ER.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Fixed some typing mistakes and added some extra fields.
  docs/ER/ER.dia
  docs/ER/ER.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

cambios de nombres y fix relaciones
  README.md
  docker-compose.yml
  docs/ER/ER.dia
  docs/ER/ER.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

added basic scaffolding with example
  src/controllers/profile/profileController.go
  src/models/profile.go
  src/services/profile/profileService.go
  src/utils/JSONUtils.go
Owners: @manolors

udpate ER
  docs/ER/ER.dia
  docs/ER/ER.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

fixed ER diagram
  docs/ER/ER.png
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Go scaffolding, GORM and population of part of database
  backend/src/.env
  backend/src/config/config.go
  backend/src/constants/constants.go
  backend/src/controller/welcome.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/main.go
  backend/src/model/assignedRoutine.go
  backend/src/model/baseExercise.go
  backend/src/model/baseRoutine.go
  backend/src/model/exerciseCategory.go
  backend/src/model/history.go
  backend/src/model/muscle.go
  backend/src/model/permission.go
  backend/src/model/role.go
  backend/src/model/routineCategory.go
  backend/src/model/routineSpecificExercise.go
  backend/src/model/user.go
  backend/src/model/userPass.go
  backend/src/model/userStat.go
  backend/src/model/userWeightHistory.go
  backend/src/model/welcome.go
  backend/src/routes/routes.go
  backend/src/server.js
  backend/src/storage/mysql.go
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres, @manolors, @raulanatol

Updated Docker configuration to work with golang
  backend/Dockerfile
  docker-compose.yml
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

created various endpoints
  backend/src/controller/baseExerciseController.go
  backend/src/controller/baseRoutineController.go
  backend/src/controller/muscleController.go
  backend/src/controller/permissionController.go
  backend/src/controller/roleController.go
  backend/src/controller/routineCategoryController.go
  backend/src/model/baseExercise.go
  backend/src/model/baseExerciseModel.go
  backend/src/model/baseRoutine.go
  backend/src/model/baseRoutineModel.go
  backend/src/model/muscle.go
  backend/src/model/muscleModel.go
  backend/src/model/permissionModel.go
  backend/src/model/roleModel.go
  backend/src/model/routineCategory.go
  backend/src/model/routineCategoryModel.go
  backend/src/model/userModel.go
  backend/src/routes/routes.go
Owners: @manolors

Added endpoints
  backend/src/controller/assignedRoutineController.go
  backend/src/controller/historyController.go
  backend/src/controller/routineSpecificExerciseController.go
  backend/src/controller/userController.go
  backend/src/controller/userPassController.go
  backend/src/controller/userStatController.go
  backend/src/controller/userWeightHistoryController.go
  backend/src/model/assignedRoutine.go
  backend/src/model/assignedRoutineModel.go
  backend/src/model/historyModel.go
  backend/src/model/routineSpecificExercise.go
  backend/src/model/routineSpecificExerciseModel.go
  backend/src/model/userModel.go
  backend/src/model/userPassModel.go
  backend/src/model/userStatModel.go
  backend/src/model/userWeightHistoryModel.go
  backend/src/routes/routes.go
Owners: @manolors

fix an error of typing
  backend/src/controller/baseExerciseController.go
  backend/src/controller/baseRoutineController.go
  backend/src/controller/muscleController.go
  backend/src/controller/permissionController.go
  backend/src/controller/roleController.go
  backend/src/controller/routineCategoryController.go
Owners: @manolors

Added mockup funcionality to various endpoints
  backend/src/controller/baseExerciseController.go
  backend/src/controller/baseRoutineController.go
  backend/src/controller/muscleController.go
  backend/src/controller/permissionController.go
  backend/src/controller/roleController.go
  backend/src/controller/routineCategoryController.go
  backend/src/controller/routineSpecificExerciseController.go
Owners: @manolors

Fixed comments of exported methods and structures
  backend/src/config/config.go
  backend/src/constants/constants.go
  backend/src/controller/welcome.go
  backend/src/model/exerciseCategory.go
  backend/src/model/history.go
  backend/src/model/permission.go
  backend/src/model/role.go
  backend/src/model/routineCategory.go
  backend/src/model/userWeightHistory.go
  backend/src/model/welcome.go
  backend/src/routes/routes.go
  backend/src/storage/mysql.go
Owners: @manolors

Merge with main branch
  backend/src/config/config.go
  backend/src/constants/constants.go
  backend/src/controller/welcome.go
  backend/src/model/exerciseCategory.go
  backend/src/model/history.go
  backend/src/model/permission.go
  backend/src/model/role.go
  backend/src/model/routineCategory.go
  backend/src/model/userWeightHistory.go
  backend/src/model/welcome.go
  backend/src/routes/routes.go
  backend/src/storage/mysql.go
Owners: @manolors

Update Docker configuration to work with golang
  backend/Dockerfile
  docker-compose.yml
Owners: @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Fixed history comments
  backend/src/controller/historyController.go
  backend/src/model/historyModel.go
Owners: @manolors

Fixed various comments
  backend/src/controller/assignedRoutineController.go
  backend/src/controller/muscleController.go
  backend/src/controller/userStatController.go
  backend/src/model/assignedRoutineModel.go
  backend/src/model/baseExerciseModel.go
  backend/src/model/baseRoutineModel.go
  backend/src/model/muscleModel.go
  backend/src/model/permissionModel.go
  backend/src/model/roleModel.go
  backend/src/model/routineCategoryModel.go
  backend/src/model/routineSpecificExerciseModel.go
  backend/src/model/userPassModel.go
  backend/src/model/userStatModel.go
Owners: @manolors

Fox comments
  backend/src/model/assignedRoutineModel.go
Owners: @manolors

Fix comments
  backend/src/model/baseRoutineModel.go
  backend/src/model/muscleModel.go
  backend/src/model/permissionModel.go
  backend/src/model/roleModel.go
  backend/src/model/userModel.go
  backend/src/model/userStatModel.go
Owners: @manolors

tablename fix
  backend/src/model/baseRoutineModel.go
Owners: @manolors

#29 progress
  backend/src/controller/userController.go
  backend/src/model/permissionModel.go
  backend/src/model/userModel.go
  backend/src/model/utilsModel.go
  backend/src/routes/routes.go
  backend/src/service/serviceUtils.go
  backend/src/service/userService.go
Owners: @manolors

#29 progress
  backend/src/controller/userController.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/model/userModel.go
  backend/src/routes/routes.go
  backend/src/service/userService.go
Owners: @manolors, @kdcr, @neikox, @pa-perz, @raulrodrigueztorres

Use of gorm.Model applied
  backend/src/model/assignedRoutineModel.go
  backend/src/model/baseExerciseModel.go
  backend/src/model/baseRoutineModel.go
  backend/src/model/exerciseCategory.go
  backend/src/model/historyModel.go
  backend/src/model/muscleModel.go
  backend/src/model/permissionModel.go
  backend/src/model/roleModel.go
  backend/src/model/routineCategoryModel.go
  backend/src/model/routineSpecificExerciseModel.go
  backend/src/model/userModel.go
  backend/src/model/userPassModel.go
  backend/src/model/userStatModel.go
  backend/src/model/userWeightHistoryModel.go
Owners: @manolors

Fix bug introduced in last merge
  backend/src/service/userService.go
Owners: @manolors

Finished main development
  backend/src/controller/userController.go
  backend/src/routes/routes.go
  backend/src/service/userService.go
Owners: @manolors

Removed mockup functions
  backend/src/model/baseExerciseModel.go
Owners: @manolors

updated routes and implemented crud on base exercises
  backend/src/controller/baseExerciseController.go
  backend/src/model/baseExerciseModel.go
  backend/src/routes/routes.go
  backend/src/service/baseExerciseService.go
  backend/src/service/userService.go
Owners: @manolors

Added comment on ErrorVO
  backend/src/model/utilsModel.go
Owners: @manolors

#35 ExerciseCategory CRUD implementation
  backend/src/controller/exerciseCategoryController.go
  backend/src/routes/routes.go
  backend/src/service/exerciseCategoryService.go
Owners: @manolors

CRUDs permissions and roles
  backend/src/controller/permissionController.go
  backend/src/controller/roleController.go
  backend/src/main.go
  backend/src/model/permissionModel.go
  backend/src/model/roleModel.go
  backend/src/routes/routes.go
  backend/src/service/permissionService.go
  backend/src/service/roleService.go
Owners: @manolors

Changed exercise category mdoel file name
  backend/src/model/exerciseCategoryModel.go
Owners: @manolors

#36 development
  backend/src/controller/routineCategoryController.go
  backend/src/model/routineCategoryModel.go
  backend/src/routes/routes.go
  backend/src/service/routineCategoryService.go
Owners: @manolors

#34 development
  backend/src/controller/baseRoutineController.go
  backend/src/model/baseRoutineModel.go
  backend/src/routes/routes.go
  backend/src/service/baseRoutineService.go
Owners: @manolors

#32 development
  backend/src/controller/muscleController.go
  backend/src/model/muscleModel.go
  backend/src/routes/routes.go
  backend/src/service/muscleService.go
Owners: @manolors

#45 implementation
  backend/src/controller/assignedRoutineController.go
  backend/src/model/assignedRoutineModel.go
  backend/src/service/assignedRoutineService.go
Owners: @manolors

.github/CODEOWNERS:

* @kdcr @neikox @pa-perz @raulrodrigueztorres
*.ts @raulanatol
*.js @raulanatol
*test* @raulanatol @DanielRamosAcosta @yodralopez
*.go @manolors
